@{
    ViewData["Title"] = "Confirmacion";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">

            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">
                    <div class="card-body">

                        <div>
                            <img src="~/Images/Email.png" alt="image" style="width:120px;height:120px;max-width: 100%; height: auto;" />
                            <p>
                                <h3 style="color:darkblue">Se Necesita Confirmacion de Correo</h3>
                            </p>
                            <p style="color:darkgray">
                                Para Activar la Cuenta y poder ingresar al Sistema, debe Confirmar el Correo.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
