@model Tic.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Cambio de Clave";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">

            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">
                    <div class="card-body">

                        <p>
                            <h2>Cambio de Clave</h2>
                        <p />
                        <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                        <flash dismissable="true" />

                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Token" />
                                    <input type="hidden" asp-for="UserName" />

                                    <div class="form-group">
                                        <label asp-for="Password">Nueva Clave</label>
                                        <input asp-for="Password" type="password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-warning"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword">Confirmar</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        <hr />
                                        <button type="button" class="btn btn-outline-dark btn-bor" onclick="location.href = '@Url.Action("Index", "Home", new  {})'">
                                            <i class="bi bi-box-arrow-left"></i>
                                            Volver
                                        </button>

                                        <button type="submit" class="btn btn-outline-primary btn-bor">
                                            <i class="fa fa-recycle"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
