
<div class="row justify-content-center text-center bg-color">
    <div class="col col-md-7 seccion-bienvenida">
        <div class="row" style="align-content:center">
            <div class="col-md-4 md-2">
                <img src="/Imagen/NexxtLink.png" class="card-img-top" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;">
                <h1>Nexxt Link</h1>
            </div>

            <div class="col-md-8 md-2">
                <h1>Software Tickets Zona WIFI</h1>
                <p>
                    Sistema para Creacion y Venta de Tickets de Zonas WIFI, con Servidores Mikrotik.
                </p>
            </div>
        </div>


    </div>
</div>