
    <div style="margin-top:-105px">
        <div class="row justify-content-md-center text-center">
            <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 grey">
                <i class="bi-cloud" style="font-size: 4rem; color: blue;"></i>
                <h3>Servicio Web</h3>

                <p>
                    Administracion y Venta de Tickets.
                </p>
                <p class="text-primary cabecera">
                    Equipos:
                </p>
                <p>
                    Mikrotik con IP Publica.
                </p>
                <p class="text-primary cabecera">
                    Experiencia:
                </p>
                <ul style="align-items:start">
                    <li>Mikrotik sin Limites</li>
                    <li>Largo del Codigo y Caracteres</li>
                    <li>Manejo de Vendedores</li>
                    <li>DB SQL</li>
                    <li>Dappper</li>
                </ul>
            </div>
            <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow: 0 5px 5px 0 grey">
                <i class="bi-windows" style="font-size: 4rem; color: blue;"></i>
                <h3>PC Windows</h3>

                <p>
                    Creacion de Tickets en redes Locales.
                </p>
                <p class="text-primary cabecera">
                    Equipos:
                </p>
                <p>
                    Mikrotik redes Locales.
                </p>
                <p class="text-primary cabecera">
                    Experiencia:
                </p>
                <ul>
                    <li>Angular material</li>
                    <li>Jquery</li>
                    <li>Pruebas Automaticas</li>
                    <li>LeaFlet</li>
                    <li>MarkDown</li>
                </ul>
            </div>
        </div>
    </div>
