<!-- Modal -->
<div class="modal fade" id="deleteDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card-roud">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="option_Nombre"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <span class="font-weight-bold" id="option_Descripcion1" style="color: red;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font-weight-bold" id="option_Descripcion2" style="color: black;"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-outline-dark btn-bor" data-bs-dismiss="modal">
                    <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                    Volver</button>
                <a id="opcion_accion"></a>
            </div>
        </div>
    </div>
</div>
