@model Tic.Shared.EntitiesSoft.Cachier

@{
    ViewData["Title"] = "Crear";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        <div class="col-md-10">
            <div class="shadow-lg mb-5 card-roud">
                <div class="card card-roud">
                    <div class="card-body">
                        <p>
                            <h2>Nuevo Usuario</h2>
                        <p />
                        <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                        <flash dismissable="true" />

                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="CorporateId" />

                                    <partial name="_CachierForm"/>

                                    <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                                    <div class="form-group">
                                        <br />
                                        <button title="Volver" type="button" class="btn btn-outline-dark btn-bor" onclick="location.href = '@Url.Action("Index", new  {})'">
                                            <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                                            Volver
                                        </button>

                                        <button title="Guardar" type="submit" class="btn btn-outline-primary btn-bor">
                                            <i class="bi bi-check2-square" style="font-size: 20px;"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SaveBtn').click(function () {
                if ($('#Name').val().length > 0 && $('#Document').val().length > 0 && $('#UserName').val().length > 0 && $('#Address').val().length > 0) {
                    $('.spinner').css('display', 'block');
                }
            });

            $("#CityId").change(function () {
                $("#CityZoneId").empty();
                $("#CityZoneId").append('<option value="0">[Seleccione una Zona...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetZones")',
                    dataType: 'json',
                    data: { Idcity: $("#CityId").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#CityZoneId").append('<option value="'
                                + data.cityZoneId + '">'
                                + data.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve departments.' + ex);
                    }
                });
                return false;
            })
            $("#MultiServer").change(function () {
                let tt = $("#MultiServer:checked").val();
                console.log(tt);
                if (tt == "true") {
                    $("#ServerId").attr("disabled", true);
                } else {
                    $("#ServerId").attr("disabled", false);
                }
            });
            $("#Porcentaje").change(function () {
                let tt2 = $("#Porcentaje:checked").val();
                console.log(tt2);
                if (tt2 == "true") {
                    $("#RateCachier").attr("readonly", true);
                    $("#RateCachier").val(0);
                } else {
                    $("#RateCachier").attr("readonly", false);
                    $("#RateCachier").val(0);
                }
            });
        });
    </script>
}

